.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.card{
    width: 100%;
    max-width: 370px;
    min-height: 450px;
    padding: 35px;
    background:tomato;
    backdrop-filter: blur(10px);
    border-radius: 24px;
    color: #111827;
    box-shadow: 0 10px 30px rgba(0,0,0,0.12);
}

.card h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: 700;
    color: #1e293b;
}

.formGroup{
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}

.label{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #000000;
}

.input{
    width: 100%;
    padding: 14px;
    border: 1px solid #d1d5db;
    outline: none;
    border-radius: 12px;
    font-size: 15px;
    transition: all 0.3s ease;
    background: #f9fafb;
}

.input::placeholder{
    color: #9ca3af;
}

.input:focus{
    border-color: #3b82f6;
    box-shadow: 0 0 0 4px rgba(59,130,246,0.15);
    background: white;
}

.button{
    width: 100%;
    border: none;
    background: linear-gradient(135deg,white);
    color: tomato;
    margin-top: 15px;
    border-radius: 12px;
    padding: 14px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(59,130,246,0.3);
}

.text{
    padding-top: 22px;
    text-align: center;
    font-size: 15px;
    color: #4b5563;
}

.link{
    text-decoration: none;
    color: #2563eb;
    font-weight: 600;
}

.link:hover{
    color: #1d4ed8;
}