@font-face {
  font-family: "Satoshi";
  src: url("./assests/Satoshi-Regular.woff2")
    format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assests//Satoshi-Medium.woff2")
    format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assests//Satoshi-Bold.woff2")
    format("woff2");
  font-weight: 700;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: "Satoshi", sans-serif;
}